
.cart-product-img{
  
    height: 300px;
    width: 100%;
    border-radius: 10px;
  }

  @media only screen and (max-width:400px){

.cart-product-img{
  
  height: 100px;
  width: 100%;
  border-radius: 10px;
  
}
  }

  @media only screen and (max-width:800px) and ( min-width:400px){

    .cart-product-img{
  
      height: 250px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
  }

  @media only screen and (min-width:800px){
    .cart-product-img{
  
      height: 120px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
  }

  .plus{
      color:white;
      background-color: rgb(184, 23, 103);
      border:2px solid rgb(184, 23, 103);
      height:30px;
      width:30px;
      border-radius: 30px;
      justify-content: center;
      align-items: center;
      
  }

  .place-order-butn{
    width: 250px;
    background-color: rgb(184, 23, 103);
    border:2px solid rgb(184, 23, 103);
    border-radius: 10px;
    color:white;
    margin-bottom: 50px;
  }


 
 

