
.search-nav{
  background-color:white;
  overflow: auto;
  width:100%;
  justify-content: center;
  display: flex;
  margin:0px;
  margin-top:60px;
  padding-top: 10px;
  padding-bottom:10px;
 /* margin-top: -90px;*/
  
  
  }
  

.search-input{

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width:400px;
  padding-left:10px;
  border:2px solid black;
  color:black;
  background-color: white;
  padding-bottom: 7px;
  padding-top: 7px;
  
  
  
  }
  
  @media only screen and (max-width:900px){
  
  .search-input{
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width:200px;
    padding-left:10px;
    border:1px solid black;
    color:black;
    background-color: white;
    padding-bottom: 7px;
    padding-top: 7px;
    
    
    }
  }
  
  .search-input::placeholder{
  color: black
  }
  


.search-button{
  background-color: rgb(148, 7, 77);
  border:2px solid rgb(148, 7, 77);
  color:white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}




.product_holder{
  display: flex;
  justify-content: space-between;
}

.product-container{
    margin-top: 30px;
}

@media only screen and (max-width:800px){

  .product-container{
   overflow: hidden;
   margin-top:50px;

  }
}



.product-img{
  
    height: 300px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
  }

  @media only screen and (max-width:400px){

.product-img{
  
  height: 150px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
  }

  @media only screen and (max-width:800px) and ( min-width:400px){

    .product-img{
  
      height: 200px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
  }

  @media only screen and (min-width:800px){
    .product-img{
  
      height: 160px;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
    }
  }


 
 



.product-footer{
    height:100px;
    background-color: white;
    margin:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   
    
    
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    
  }
  @media only screen and (max-width:800px){

.product-footer{
  height:60px;
  background-color: white;
  margin:0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 
  
  
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  
}
  }

 

  .add-to-cart{
    color:white;
   /* background-color:  rgb(73, 8, 73);
    border:2px solid rgb(73, 8, 73);*/
    background-color: rgb(184, 23, 103);
    border:2px solid rgb(184, 23, 103);
    margin-left:10px;
   
  }
  .added{
    color:black;
    /* background-color:  rgb(73, 8, 73);
     border:2px solid rgb(73, 8, 73);*/
     background-color: white;
     border:2px solid black;
     margin-left:10px;
  }

  @media only screen and (max-width:800px){

  .add-to-cart{
   display:none;
   
  }
  .added{
    display: none;
  }



  }

  .mytext{
    font-size:13px;
    text-align: center;
  }
 

 
 