
/****************Design for Signup form****************/

.form-container{
    width: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 30px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    
}

.form-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./home3.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    overflow: auto;
    text-align: center;
    
    
}


.forminput{
    width:200px;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
    border-radius: 15px;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    margin-top:15px;
}

.formbutton{
       width:200px;
       border-radius:15px;
       padding-bottom: 5px;
       margin-top: 20px;
       padding-top:5px;
       background-color: rgb(73, 8, 73);
       color: #fff;
       border:2px solid rgb(73, 8, 73);
}
