.add-screen{
 background-color:white;
 overflow: auto;
 margin-left: 25vw;
 
 
}


@media only screen and (max-width:800px){
  .add-screen{
  margin-left: 0px;
  justify-content: center;
  margin-bottom: 60px;
}
}


.name-input{
  width:350px;
  border-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 20px;
  border:2px solid whitesmoke;
  margin-top: 20px;
}




@media only screen and (max-width:800px){

  .name-input{
    width:250px;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-size: 20px;
    border:2px solid whitesmoke;
  
  }
  
}





.num-input{
  width:300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 20px;
  border:2px solid whitesmoke;
  margin-top: 20px;
}
@media only screen and (max-width:800px){

.num-input{
  width:200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 20px;
  border:2px solid whitesmoke;
  margin-top: 20px;
}
}

.ghc-button{
  color:white;
  background-color: rgb(184, 23, 103);
  border:2px solid rgb(184, 23, 103);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 7px;
  padding-bottom: 7px;

  
}

.create-product-butn{
  background-color: rgb(184, 23, 103);
  border:2px solid rgb(184, 23, 103);
  color:white;
  margin-top: 30px;
  width:300px;
  border-radius: 7px;
}


.description-input{
  width:400px;
  border:3px solid #3333;
  border-radius: 15px;
  padding-bottom:5px;
  padding-top:5px;
  padding-left:5px;
  margin-top:1px;
  height: 100px;
}

@media only screen and (max-width:800px){

.description-input{
  width:250px;
  border:3px solid #3333;
  border-radius: 15px;
  padding-bottom:5px;
  padding-top:5px;
  padding-left:5px;
  margin-top:1px;
  height: 100px;
}

}



.select-input{
  background: transparent;
  width:350px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}

@media only screen and (max-width:800px){

.select-input{
  background: transparent;
  width:250px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 10px;
}
}
