.cat-name{
    width:400px;
    border-radius: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    font-size: 20px;
    border:2px solid whitesmoke;
}

@media only screen and (max-width:800px){
    .cat-name{
        width:250px;
        border-radius: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        font-size: 20px;
        border:2px solid whitesmoke;
    }
}

.cat-image{
    margin-top: 30px;
}
.cat-image::-webkit-file-upload-button{
    visibility: hidden;
}
.cat-image::before{
    content: "Choose photo";
    display: inline-block;
    border-radius: 5px;
    border:2px solid  rgb(184, 23, 103);
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    color:white;
    background-color:  rgb(184, 23, 103);
}

.create-cat-butn{
    background-color: rgb(184, 23, 103);
    border:2px solid rgb(184, 23, 103);
    color:white;
    margin-top: 70px;
    width:300px;
    border-radius: 7px;

}

