.my-modal{
 display: none;
}
@media only screen and (max-width:800px){
  .my-modal{
    height: 100vh;
    z-index: 5;
    width:100%;
    background-color: white;
    position:fixed;
    flex: 1;
    margin-top: -30px;
    overflow: hidden;
    display: block;
  }
}




.modal-product-img{
  height: 350px;
  width:100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position:fixed;
  
}

.add-butn{
  background-color: rgb(184, 23, 103);
  border:2px solid rgb(184, 23, 103);
  width: 250px;
  color:white;
  border-radius: 10px;
}

.close-modal{
  color:white;
  position: relative;
  background-color: rgb(184, 23, 103);
  border:2px solid rgb(184, 23, 103);
  margin-top: 10px;
  margin-left: 10px;
  width:30px;
  height: 30px;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;


}

.in-cart-butn{
  background-color: white;
  border:2px solid black;
  width: 250px;
  color:black;
  border-radius: 10px;
}