.add-screen{
    background-color:white;
    margin-left: 25vw;
    padding-right: 30px;
    padding-left: 30px;
    
    
   }
   
   
   @media only screen and (max-width:800px){
     .add-screen{
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
   }
   }
   
  
  
  